/*
reglas de css para la momia
segundo cuento
*/


body {
background-image: url("../img/dark_embroidery/fondo2.png");
}
.contenedor{
  overflow: hidden;
}
.cabeza{
  height: 70px;
  margin 0 auto;
  border-top: 10px solid #06425C;
  border-bottom: 10px solid #06425C;
  background:#06425C;
}
.cabeza h1{
  text-align: left;
  color:white;
}
.cabeza h5 {
  margin-left: 30px;
  margin-bottom: 0;
  font-size: 15px;
  color:black;
}
.cabeza a{
 color:red;
}
.cabeza li{
  color:black;
}
h1{
  text-align: center;
  color:#FFD034;
}
h1 span{
border-bottom: 3px solid #FF4C3B;
border-top: 3px solid #FF4C3B;
}
p{
  color: black;
  margin-bottom: 0px;
}

p span span{
  width: 70%;
  color: red;
  font-size:80px;
  vertical-align:bottom;
}
 .img-inicio{

   text-align: center;

}
.img-tornado{
  text-align: center;
 color: black;
}
.img-tornado img{
  border-radius: 50%;
}
.img-tornado2{
  text-align: center;
 color: black;
}

.autor h1 em{
  text-align: center;
color: red;
}
.autor h1{
  font-style: oblique;
  color:#814374;
text-align: center;
}
.autor em{
  color: black;
  font-style: italic;
}
.resumen {
  background-color:#00ff99;
  text-align: justify;
  font-size: 15px;
  margin-left: 30px;
  margin-right: 30px;
}
.resumen h3{
text-align: center;
  color: black;
}
.contenido {
text-align: justify;
font-style: italic;
font-size: 15px;
}
.contenido h1{
   text-align: left;
   font-size: 25px;
   color: #FFD034;
   font-style: oblique;
   margin-left: 30px;
   border-left: 6px solid #FF4C3B;
}
.opinion{
  text-align: justify;
  font-style: italic;
  font-size: 15px;
  margin-left: 30px;
  margin-right: 30px;
    background-color: #ccff33;
}
.opinion h3{
  text-align: center;
    color: black;
}
.contenido p{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.comentarios{
margin-left: 30px;
margin-right: 30px;
background-color: white;
}
.comentarios h1{
  text-align: center;
  color: 	#00FF00;
  border:none;
}
