/*
reglas de css para el primer cuento
*/
body {
  background-image: url("../img/swirl_pattern.png");
}
.container{
  overflow: hidden;
}
.cabeza{
  height: 70px;
  margin 0 auto;
  border-top: 10px solid #06425C;
  border-bottom: 10px solid #06425C;
  background:#06425C;
}
.cabeza h5 {
  margin-left: 30px;
  margin-bottom: 0;
  font-size: 15px;
  color:black;
}
.cabeza h1{
  text-align: left;
  color: white;
}
.cabeza a{
 color:none;
}
.cabeza li{
  color:black;
}

h1{
  text-align: center;
  color: #FFD034;
}

.cabeza h1{
  text-align: left;
}
h1 span{
border-bottom: 3px solid #FF4C3B;
border-top: 3px solid #FF4C3B;
}
p{
  color: black;
}

.img-inicio img{
border-radius: 50%;
}
.img-tornado{
  text-align: center;
 color: black;
}
.autor h1 em{
  text-align: center;
color: red;
}
.autor h1{
  font-style: oblique;
  color:#814374;
text-align: center;
}
.autor em{
  color: black;
  font-style: italic;
}
.resumen {
  background-color: #8ED2C9;
  text-align: justify;
  font-size: 15px;
  margin-left: 30px;
  margin-right: 30px;
}
.resumen h3{
text-align: center;
  color: black;
}
.contenido {
text-align: justify;
font-style: italic;
font-size: 15px;
}
.contenido h1{
   text-align: left;
   font-size: 25px;
   color: #FFD034;
   font-style: oblique;
   margin-left: 30px;
   border-left: 6px solid #FF4C3B;
}
.opinion{
  text-align: justify;
  font-style: italic;
  font-size: 15px;
  margin-left: 30px;
  margin-right: 30px;
    background-color: #FFB85F;
}
.opinion h3{
  text-align: center;
    color: black;
}
.contenido p{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.comentarios{
margin-left: 30px;
margin-right: 30px;
}
.comentarios h1{
  text-align: center;
  color: 	#00FF00;
  border:none;
}
